body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 17px 0;
}

.accent {
  color: #2e2f42;
}

/* ======= */

.header-address {
  font-style: normal;
  align-items: center;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
/* media tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* media laptop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;
}

.page-address {
  display: none;
}
/* media tablet */
@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
  .header-logo {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }

  .nav-link {
    position: relative;
  }

  .line {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line::after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    position: absolute;
    margin-top: 20px;
    left: 0;
    bottom: -1px;
  }

  .nav-link:hover,
  .nav-link:focus,
  .mobile-nav-link:hover,
  .mobile-nav-link:focus {
    color: #404bbf;
  }

  .page-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}
/* media laptop */
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .page-address {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* /Header */

/* Hero section */
.hero-section {
  background-color: rgba(46, 47, 66, 0.7);
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-mobile.jpg");
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;

  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.page-hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* media tablet */
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
    padding: 112px 0;
  }

  .hero {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}
/* media laptop */
@media screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
    padding: 188px 0;
  }
}

@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url("../images/x2/people-office@2x.jpg");
  }
  
}

/* Benefit section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.benefits-title,
.person-name {
  margin-bottom: 8px;
  text-align: center;
}

.benefit-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.benefit-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefit-section {
  padding: 96px 0;
}

.benefit-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .benefit-section {
    padding: 96px 0;
  }

  .benefit-list {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .benefit-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 48px;
  }

  .benefits-title {
    text-align: start;
    font-weight: 500;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1158px) {
  .benefit-section {
    padding: 120px 0;
  }

  .benefit-icon {
    display: flex;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefit-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .benefit-paragraph,
  .person-duties,
  .portfolio-paragraph {
    font-weight: 400;
  }

  .benefits-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .benefit-item {
    width: calc((100% - 72px) / 4);
  }
}

/* /Benefit section */

/* Team section */
.team-section {
  background: #f4f4fd;
  padding: 96px 0;
}

.team-title,
.portfolio-title {
  margin-bottom: 72px;
}

.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: 264px;
}

.person-info {
  text-align: center;
  padding: 32px 0;
}

.person-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.person-icon-item,
.footer-social-icon {
  width: 40px;
  height: 40px;
}

.icon-link,
.footer-icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/* /Team section */

/* Portfolio section */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-products {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 48px;
}

.product-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.paragraph-overlay {
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-overlay:hover .paragraph-overlay {
  transform: translate(0%);
}

.portfolio-item:hover {
  border-color: #f4f4fd;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    max-width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}

/* /Portfolio section */

/* Footer section */
.footer-section {
  background: #2e2f42;
  padding: 96px 0;
}

.footer-paragraph,
.footer-accent {
  color: #f4f4fd;
}

.footer-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-paragraph {
  width: 264px;
}

.footer-icons {
  display: flex;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
  gap: 16px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-icon-link:focus,
.footer-icon-link:hover {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .page-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .footer-section {
    padding: 100px 0;
    width: 100%;
  }

  .footer-wrap {
    margin-right: 120px;
  }
}

/* /Footer section */

/* subscribe */

.subscription-wrap {
  margin-top: 72px;
}

.subscription-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.subscription-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}
.subscription-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-button {
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.footer-icons {
  text-align: center;
  margin-top: 72px;
}

@media screen and (min-width: 768px) {
  .page-footer {
    flex-wrap: wrap;
  }

  .footer-icons {
    margin-left: 24px;
  }

  .subscription-paragraph,
  .social-media {
    text-align: start;
  }

  .subscription-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .page-footer {
    margin-left: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    flex-wrap: nowrap;
  }

  .subscription-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .subscription-wrap {
    margin-left: 80px;
  }

  .social-media {
    text-align: start;
  }

  .subscription-paragraph {
    text-align: start;
  }
}

/* /subscribe */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal,
.mobile-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 288px;
  min-height: 623px; 
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .modal {
    min-height: 584px; 
  }
  
}

@media screen and (min-width: 1158px) {
  .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
}

/* =========== /Backdrop Section styles =========== */

/* =========== Rewiew form styles =========== */

.review-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.review-form-input {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.review-form-field-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.review-form-input-wrapper {
  position: relative;
}
.review-form-field-wrapper-comment {
  margin-bottom: 16px;
}
.review-form-checkbox-wrapper-checkbox {
  margin-bottom: 24px;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-message {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.review-form-message:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-privacy-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.review-form-privacy-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}
.privacy-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.review-form-submit-btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404bbf;
}

/* =========== /Rewiew form styles =========== */
/* =========== Footer subscribe styles =========== */
.footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-label {
  display: flex;
}

.footer-input {
  border: 1px solid white;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: white;
}

.footer-input:focus {
  outline: none;
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #404bbf;
}

.icon-send {
  margin-left: 16px;
}

.review-form-privacy-checkbox:checked + .review-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* ===mobile menu=== */

.mobile-menu-list {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 168px;
}

.mobile-page-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.mobile-address-link:hover,
.mobile-address-link:focus {
  color: #404bbf;
}

.mobile-icon {
  justify-content: space-between;
}

.wrap-mobile-list {
  position: relative;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-icon {
    display: none;
  }
  .mobile-nav-link:hover,
  .mobile-nav-link:focus {
    color: #404bbf;
  }
  .m-line {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}


/* ===/mobile menu=== */
